<div id="wrapper">
	<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
	<li class="sidebar-brand">
		<a href="#" >
			<h4>Menu</h4>
		</a>
	</li>
<li style="font-size: 20px;">
	<%= link_to ' Cliente', clientes_path,
	class: "glyphicon glyphicon-user" %>
	<br/>
</li>
<li style="font-size: 20px;">
	<%= link_to ' Livros', livros_path ,
	class: "glyphicon glyphicon-book"%>
	<br/>
</li>
<li style="font-size: 20px;">
	<%= link_to ' Funcionário', funcionarios_path ,
	class: "glyphicon glyphicon-user"%>
</li>
</ul>
</div>
</div>